 .row.content {
   height: 600px;
 }

 .sidenav {
   background-color: white;
   height: 100%;
 }

 a {
   color: white;
 }
 
 a:hover {
  color: white;
}

 footer {
   background-color: black;
   color: black;
   padding: 30px;
 }

 .btn-primary,
 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited,
 .btn-primary:focus {
   background-color: #FFD700;
   border-color: #66151c;
 }

 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 10px;
   }

   .row.content {
     height: auto;
   }
 }

 .navbar-default {
   margin-bottom: 0px;
   background-color: #FFD700;
   border-color: black;
 }

 .navbar-default .navbar-brand {
   color: black;
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: black;
 }

 .navbar-default .navbar-text {
   color: black;
 }

 .navbar-default .navbar-nav>li>a {
   color: black;
 }

 .navbar-default .navbar-nav>li>a:hover,
 .navbar-default .navbar-nav>li>a:focus {
   color: #0c3836;
 }

 .navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:hover,
 .navbar-default .navbar-nav>.active>a:focus {
   color: white;
   background-color: #66151c;
 }

 .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:hover,
 .navbar-default .navbar-nav>.open>a:focus {
   color: #d5d5d5;
   background-color: #66151c;
 }

 #html,
 #body,
 #map-container {
   height: 100%;
 }

 #mapid {
   width: 100%;
   height: 100%;
 }

 .loading{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}

.menu ul{
	color:#d5d5d5;
		list-style: none;
		margin: 0;}
.menu ul li{
	padding: 15px;
	position: relative;
	width: 200px;
	color:blue;
}
.menu ul ul{
	opacity:0;
	transition: all 0.3s;
	position: absolute;
	visibility: hidden;
	left: 100%;
	top:-2%;
}
.menu ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	
}
.menu ul li a{
	color: #d5d5d5;
	background-color: #d5d5d5;
	text-decoration:none;
	visibility :visible;
	}